:host {
    position: absolute;
    width: 300px;
    height: 100%;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 10px;
}


