<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<app-toasts-component/>

<div class="main-container">
    <h1>ToDo List</h1>

    <div class="sub-container">
        <div>

            <div class="filter-container">
                <select (change)="onFilter($event)" >
                    @for(option of filterStatusList(); track $index ){  
                        <option [value]="option">{{option}}</option>
                    }
                </select>
            </div>
            
            @if(isLoading){
                <div style="height: 100px; width:100%;"> 
                    <app-loading-spinner/>
                </div>
            } @else {
                <ul>
                    @for (item of todoData; track $index) {
                        <li>
                            <app-to-do-list-item appTipText [tipText]="'Элемент списка'" [itemData]="item" 
                                                [routerLink]="[item.id]"
                                                (click)="onItemClicked(item.id)" 
                                                (dblclick)="onItemDblClicked(item.id)" 
                                                (onDelete)="deleteItem($event)"
                                                [ngClass]="selectedItemId == item.id ? 'selected' : '' ">
                            </app-to-do-list-item>                
                        </li>
                    }
                </ul>
            }

            <app-todo-create-item/>
            
        </div>

        <router-outlet/>
    </div>

</div>