.container{
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    font-weight: 600;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    border-radius: 1rem;
}

.wrapper{
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    padding: 0px 20px 0px 20px;
    align-items: center;
    justify-content: space-between;
}
.wrapper>span{
    font-size: 20pt;
    font-weight: 700;
    color: rgba(21, 90, 194, 0.589);
}

.user{
    height: 40px;
}

.user-avatar{
    width: 30px;
    height: 30px;
}