:host{
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 10px;
    overflow: auto;
}

.page-wrapper{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

.router-container{
    width:100%;
    height: 100%;
    z-index: 10;
    overflow: auto;
}