:host{
    height: 100%;
    width: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.page-wrapper{
    width: 100%;
    height: 100%;
    margin-left: 20px;
}

/* .liquid-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    font-weight: 600;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    border-radius: 1rem;
}

.liquidGlass-effect {
    position: absolute;
    z-index: 0;
    inset: 0;
    backdrop-filter: blur(3px);
    overflow: hidden;
}

.liquidGlass-tint {
    z-index: 1;
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.212);
}

.liquidGlass-shine {
    position: absolute;
    inset: 0;
    z-index: 2;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: inset 1px 2px 1px 0 rgba(255, 255, 255, 0.5), inset 0px -1px 1px 1px rgba(255, 255, 255, 0.5);
} */

.router-container{
    width:100%;
    height: 100%;
    z-index: 10;
}