.description-container {
    display: flex;
    height: 100%;
}

.description {
    resize: none;
    width: 180px;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
}

.checkbox-container{
    width:100%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0px 0px 20px 20px; 
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
}