.add-item-container {
    margin-top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.add-item-input {
    height: 100%;
    width: 100%;
    font-size: 12pt;
    padding: 0px 10px;
    border-radius: 10px;
    border: none;
    transition: ease-in 0.3s;
}


.textarea {
    width: 100%;
    min-height: 80px;
    min-width: 359px;
}

.textarea-container {
    margin-top: 10px;
    display: flex;
}


.button {
    background: rgba(15, 192, 71, 0.426);
    height: 100%;
    color: white;
    font-weight: bold;
    transition: 0.3s ease;
}

.button:hover {
    background: rgba(7, 90, 33, 0.426);
}

.button:disabled {
    background: rgba(151, 151, 151, 0.426);
}