:host {
    height: 100%;
    width: 100%;
    overflow: auto;
}

ul {
    margin: 0px;
    padding: 0px 10px;
    width: 100%;
    box-sizing: border-box;
    overflow: auto;
}

li {
    list-style: none;
}

.container {
    display: flex;
    gap: 20px;
    box-sizing: border-box;
    padding: 20px;
    height: 100%;
    width: 100%;
}

.todo-list {
    width: 400px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.filter-container {
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

.filter-container>.filter {
    width: 100%;
    height: 40px;
    border: none;
    box-sizing: border-box;
    border-radius: 20px;
}

.filter-container>select:active {
    outline: none;
}

.filter-container>select:focus {
    outline: none;
}


.textarea {
    width: 100%;
    min-height: 80px;
    min-width: 359px;
}


tui-loader {
    height: 100%;
    width: 100%;
}

.selected-task {
    background-color: rgb(79, 104, 245);
    color: white;
}

tui-textfield {
    --t-height: 40px;
}