<div class="container">
          <div class="liquidGlass-effect"></div>
          <div class="liquidGlass-tint"></div>
          <div class="liquidGlass-shine"></div>
          <div class="nav-items">
            <div class="nav-item-list">
                <button class="nav-button" routerLink="/backlog" routerLinkActive="active-route" tuiButton type="button">Задачи</button>
                <button class="nav-button" routerLink="/board" routerLinkActive="active-route"  tuiButton type="button">Доска</button>
                <button class="nav-button" routerLink="/poker" routerLinkActive="active-route"  tuiButton type="button">"Planning Poker"</button>
            </div>
          </div>
</div>