.container {
    height: 100%;
    width: 200px;
    position: relative;
    display: flex;
    font-weight: 600;
    overflow: hidden;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    border-radius: 1rem;
}

.nav-items {
    width: 100%;
    height: 100%;
    z-index: 10;
}

.nav-item-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px 0px 10px;
    box-sizing: border-box;
    gap: 20px;
}

.nav-item{
    width: 100%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item>span{
    font-size: 18pt;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.486);
}

@keyframes blurPulse {
  0%, 100% { filter: blur(0px); background-position: 0% 0%, 100% 100%;  }
  50% { filter: blur(12px); background-position: 100% 100%, 0% 0%; }
}

.nav-button{
    width: 100%;
    height: 40px;
}

.active-route{
    background-color: rgb(79, 104, 245);
}
