.toast {
    width: 100%;
    height: auto;
    min-height: 70px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
    color: white;
    box-sizing: border-box;
    padding: 10px 20px;
}
