:host{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 10px;
    min-height: 50px;
    border-radius: 10px;
    border: none;
    width: 100%;
    color: rgb(97, 97, 97);

    background: rgba(255, 255, 255, 0.562);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

:host:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.747);
}

.button{
    height: 30px;
    width: 30px;
    font-weight: bold;
    transition: 0.3s ease;
    color: rgb(121, 121, 121);
}

.button:hover{
    color: white;
}

.important{
    background-color: rgba(240, 28, 28, 0.904);
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0px 10px 10px 0px;
}


