:host{
    position: absolute;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    background: white;
    z-index: 9999;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
}