:host{
    height: 100%;
    width: 100%;
}

h2{
    padding: 0;
    margin: 0;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
}

