
:host {
    height: 100%;
    width: 100%;
    overflow: auto;
}

.board {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.column-container{
    display: flex;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.column {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 20px;
    box-sizing: border-box;
}

.dropList{
    width: 100%;
    height: 100%;
}

tui-loader {
    height: 100%;
    width: 100%;
}

.filter-container{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}